*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: darkgray;
    min-height: 100vh;
    display: grid; /*logo de cara o grid tenta prencher todo o espaço de tela disponivel*/
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-auto-rows: minmax(210px, auto);
    gap: 10px;
}

.item{
    border: 2px solid black;
    background-color: aliceblue;
    font-size: 1,5rem;
    padding: 20px;
}