*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: darkgray;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    gap: 20px; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.item{
    height: 200px;
    /* width: 200px;  */
    background-color: aliceblue;
    border: 2px solid black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 200px; /* grow, shring, basis */
    /* flex-basis: 200px; */ /* tamanho em que sera feito a quebra do flex-wrap */
    /* flex-grow: 1;  *//* por padrão é 0, mas se atribuir 1 cada item do container era tentar ocupar toda a witdh disponivel */
}

.item1{
    
}

.item2{
    align-self: flex-start;
}

.item3{
    
}