:root{
    --gray: rgb(183, 183, 183);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container *{
    border: 1px solid red;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    width: 30%;
}

.nav{
    display: flex;
    gap: 5px;
}

.nav > .buttons{
    background-color: transparent;
    color: var(--gray);
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.nav > .buttons:hover{
    color: white;
    text-decoration: underline;
}


.main-content *{
    border: 1px solid blue;
}

.main-content{
    flex: 1 0 400px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content{
    display: flex;
}

.main{
    display: grid;
    padding: 20px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}



.main img{
    aspect-ratio: 2/1.2;
    width: 100%;
    border-radius: 10px;
}
.extra{
    background-color: rgb(64, 64, 64);
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
}

.extra img{
    aspect-ratio: 2/1.2;
    width: 100%;
    border-radius: 8px;
}
.item-extra{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}



.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.footer a{
    text-decoration: none;
    color: var(--gray);
}

.logo-footer{
    width: 20%;
}

hr{
    border-top: 3px solid black;
}

