$btn-color: rgb(0, 255, 94);
$btn-width: 120px;
$btn-height: 40px;

.btn01{
    width: $btn-width;
    background-color: $btn-color;
    height: $btn-height;
 }

.btn02{
    width: $btn-width;
    background-color: $btn-color;
    height: $btn-height;
 }